<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>


<div class="detail">
    <h4>상세페이지</h4>
    <p th:text="${'작성자 : ' + item.name}">7억</p>
    <img src="https://placehold.co/300">

    <h4 th:text="${item.title}">금도금 바지</h4>
    <p th:text="${item.price + '원'}">7억</p>
</div>

<form action="/sales" method="POST">
    <input name="itemName" th:value="${item.title}">
    <input name="price" th:value="${item.price}">
    <input name="count" th:value="1">

    <button>구매</button>
</form>

<div th:each="j : ${comment}">
    <hr>
    <p th:text="${j.username}"> </p>
    <p th:text="${j.content}"> </p>

</div>



<form action="/comment" method="POST">
    <input name="content">
    <input name="parent" th:value="${item.id}" style="display: none">
    <button>전송</button>
</form>

</body>
</html>